.container {
  width: 50rem;
  margin: 3rem auto;
  text-align: center;

  .title {
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .search {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1.2rem;

    .textField {
      width: 77%;
    }

    .addButton {
      width: 10rem;
    }
  }

  .emptyList {
    font-size: 1.6rem;
    opacity: 0.5;
  }
}
